@model  KoalaInventoryManagement.ViewModels.Inventory.ProductsTotalViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<link rel="stylesheet" href="~/css/Suppliers/suppliers.css" />
<div class="container-fluid p-0 suppliers">
    <!-- Product Header Start-->
    <div class="content-header">
        <div class=" heading">
            <h1 class="header-title roboto">Products Page</h1>
            <p class="header-subtitle roboto">Manage your Products </p>
        </div>
    </div>
    <!-- Product Header End-->
    <!-- Product Table Start-->
    <div class="bg-offwhite">
        <div class="col-lg-12 p-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title roboto">Products</h4>
                    <button class="add-btn" type="button" data-bs-toggle="modal" data-bs-target="#productModal">Add</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered verticle-middle table-responsive-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Supplier</th>
                                    <th scope="col">WareHouse</th>
                                    <th scope="col">CurrentStocK</th>
                                    <th scope="col">MinStock</th>
                                    <th scope="col">MaxStock</th>
                                    <th class="btn-head" scope="col">Edit</th>
                                    <th class="btn-head" scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.products)
                                {
                                    <tr>
                                        <td>@product.Name</td>
                                        <td>@product.Description</td>
                                        <td>@product.Price</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>@product.CurrentStock</td>
                                        <td>@product.MinimumStock</td>
                                        <td>@product.MaximumStock</td>
                                        
                                       
                                      
                                    <td class="btn-td edit">
                                            <a onclick="openEditModalSupplier(@product.Id,'@product.Name','@product.Description',@product.Price/10)">
                                                <i class="fa fa-pencil color-muted"></i>
                                            </a>
                                    </td>
                                        <td class="btn-td delete">
                                            <a onclick="confirmDelete('@product.Name Product',@product.Id)"><i class="fa fa-close color-danger"></i></a>
                                        </td> 
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Table End-->
   
</div>


<!-- Confirm Delete Start-->
<div class="overlay" onclick="closeConfirmDelete(event)"></div>
<div class="mainconfirm">
    <i class="fa-solid fa-xmark close" onclick="closeConfirmDelete(event)"></i>
    <i class="fa-regular fa-circle-xmark red"></i>
    <i class="fa-regular fa-circle-check green"></i>
    <h2>Are you sure?</h2>
    <p>Do you really want to delete the following?</p>
    <h3 id="toBeDeleted"></h3>
    <div class="buttons">
        <button class="close2" onclick="closeConfirmDelete(event)">Close</button>
        <button class="delete" onclick="startAnimation()">Delete</button>
    </div>
</div>
<!-- Confirm Delete End-->

<!-- Product Modal Start-->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Add Product</h5>
                <button type="button" class="modalclose" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Inventory/AddProduct" id="addOrEditProductForm">
                    <input type="number" name="Id" hidden value="" />
                    <div class="form-group-row">
                        <label class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="Name" class="form-control"
                                   required minlength="2" maxlength="50" placeholder="Name" />
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" name="Description" class="form-control"
                                   required  placeholder="Description" />
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-9">
                            <input type="text" name="Price" class="form-control"
                                    placeholder="Price" />
                        </div>
                    </div>
                      <div class="form-group-row">
                        <label class="col-sm-3 col-form-label">Current Stock</label>
                        <div class="col-sm-9">
                            <input type="text" name="Current_Stock" class="form-control"
                                   placeholder="Current Stock" />
                        </div>
                    </div>
                      <div class="form-group-row">
                        <label class="col-sm-3 col-form-label">Minimum Stock</label>
                        <div class="col-sm-9">
                            <input type="text" name="Minimum_Stock" class="form-control"
                                   placeholder="Minimum Stock" />
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label class="col-sm-3 col-form-label">Maximum Stock</label>
                        <div class="col-sm-9">
                            <input type="text" name="Maximum_Stock" class="form-control"
                                   placeholder="Maximum Stock" />
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label class="col-sm-3 col-form-label">Supplier</label>
                        <div class="col-sm-9">
                            <select  name="Supplier" class="form-control">
                                <option disabled active>Select Supplier</option>
                                @foreach(var supplier in Model.suppliers){
                                    <option value="@supplier.Id">@supplier.Name</option>
                                }
                               
                            </select>
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-9">
                            <select name="Category" class="form-control">
                                <option disabled active>Select Category</option>
                                @foreach (var category in Model.categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }

                            </select>
                        </div>
                    </div>
                  

                  
                    <div class="form-group-row">
                        <div class="col-sm-10">
                            <button  type="submit" class="btn btn-primary">
                               Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addOrEditProduct">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- Product Modal End-->
@section Scripts {
    <script src="/js/Inventory/Inventory.js"></script>
}